html {
    font-size: $baseFontSize;
}

body {
    font-family: 'Alegreya Sans', 'Opens sans';
    font-weight: 400;
    line-height: 1.2;
    color: rgba(102, 102, 102, 1);
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}