@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
html {
  font-size: 18px;
}

body {
  font-family: "Alegreya Sans", "Opens sans";
  font-weight: 400;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940pxrem(20px);
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: white;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  margin-left: 22px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  color: white;
  font-weight: 700;
  white-space: nowrap;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon-el {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.contacts__number {
  font-size: 22px;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: rgb(41, 41, 41);
}
.title--color--white {
  color: white;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
}