@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
html {
  font-size: 18px;
}

body {
  font-family: "Alegreya Sans", "Opens sans";
  font-weight: 400;
  line-height: 1.2;
  color: rgb(102, 102, 102);
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940pxrem(20px);
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: white;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 28px 0 61px;
}
.hero__title-section {
  width: 46%;
}
.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: white;
}
.hero__desc {
  margin-top: 17px;
  margin-bottom: 39px;
  font-size: 21px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  margin-left: 22px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  color: white;
  font-weight: 700;
  white-space: nowrap;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon-el {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.contacts__number {
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 46px;
  max-width: 132px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 45px;
  height: 45px;
  margin-right: 11px;
}
.feature__desc {
  font-size: 16px;
  font-weight: 700;
}

.btn {
  padding: 21px 41px;
  background: #FEDB3F;
  border-radius: 100px;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}
.btn:hover {
  background: #fdd526;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  font-size: 18px;
  color: white;
  font-weight: 400;
}
.btn--theme--transparent:hover {
  background: none;
  color: #FEDB3F;
  font-weight: 800;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--name--order {
  background: url(../img/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section--name--order .section__title {
  color: white;
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: rgb(41, 41, 41);
  text-align: center;
}

.headline {
  text-align: center;
  margin-bottom: 49px;
}
.headline__subtitle {
  margin-top: 17px;
  padding: 0 23%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url("../../img/circles.svg");
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__title {
  font-weight: 700;
  font-size: 27px;
  color: black;
  margin-bottom: 20px;
}
.benefit__bg {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: rgb(242, 245, 244);
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}
.benefit__image-el {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefit__desc {
  font-weight: 300;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__avatar {
  width: 254px;
  height: 264px;
}
.reviews__avatar-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}
.reviews__title {
  font-weight: 700;
  font-size: 27px;
  color: black;
  margin-bottom: 14px;
}
.reviews__text {
  margin-bottom: 15px;
}
.reviews__author {
  color: #292929;
  font-weight: 700;
}
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
  width: 74px;
  height: 74px;
}
.interactive-avatar__link {
  display: block;
}
.interactive-avatar__photo {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 18px;
}
.form__block:last-child {
  margin-right: 0;
}
.form__title {
  color: white;
}
.form__input {
  width: calc(100% - 24px);
  padding: 18px 12px;
  border-radius: 4px;
  border: none;
}
.form__input:focus {
  border: 3px solid #FEDB3F;
  outline: none;
}
.form__input--textarea {
  min-height: 120px;
  resize: none;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__controls--down {
  margin-top: 30px;
}
.form__btns {
  margin-top: 44px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 14px;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  content: "";
  background: url("../../icons/checkmark.svg");
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-left: 2px;
}
.radio__el {
  display: none;
}
.radio__el:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: white;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  background: rgb(254, 219, 63);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__title {
  margin-right: 12px;
  color: white;
  margin-top: 3px;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}
.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.hamburger__plank {
  display: block;
  background: white;
  height: 4px;
  border-radius: 10px;
}