@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Alegreya Sans", "Opens sans";
  font-weight: 400;
  line-height: 1.2;
  color: rgb(102, 102, 102);
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-image: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url("../img/bg-tablets.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5555555556rem 0 3.3888888889rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.8888888889rem;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding: 0 1.1111111111rem;
  }
}
.hero__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2.3333333333rem;
  }
}
@media screen and (max-width: 425px) {
  .hero__title {
    font-size: 1.8888888889rem;
  }
}
.hero__desc {
  margin-top: 0.9444444444rem;
  margin-bottom: 2.1666666667rem;
  font-size: 1.1666666667rem;
}
@media screen and (max-width: 425px) {
  .hero__desc {
    max-width: 14.4444444444rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .header {
    background: rgb(25, 104, 177);
    width: 100%;
    padding: 1.4444444444rem 1.6666666667rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .contacts.header__contacts {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.3333333333rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-left: 1.2222222222rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item--column {
  margin-left: 0;
  margin-bottom: 2rem;
}
.menu__item--column:last-child {
  margin-bottom: 0;
}
.menu__link {
  color: white;
  font-weight: 700;
  white-space: nowrap;
}
.menu__link--column {
  font-weight: 400;
  font-size: 36px;
}
.menu--column {
  display: block;
}
.menu--column .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contacts__icon-el {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  margin-right: 0.3333333333rem;
  fill: white;
}
.contacts__icon-el--black {
  fill: black;
}
.contacts__number {
  font-size: 1.2222222222rem;
  color: white;
  font-weight: 700;
  white-space: nowrap;
}
.contacts__number--color--black {
  color: black;
  font-weight: 400;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 2.5555555556rem;
  max-width: 7.3333333333rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.6111111111rem;
}
.feature__desc {
  font-size: 0.8888888889rem;
  font-weight: 700;
}

.btn {
  padding: 1.1666666667rem 2.2777777778rem;
  background: #FEDB3F;
  border-radius: 5.5555555556rem;
  color: #000000;
  font-weight: 800;
  font-size: 0.8888888889rem;
  text-transform: uppercase;
}
.btn:hover {
  background: #fdd526;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}
.btn--theme--transparent:hover {
  background: none;
  color: #FEDB3F;
  font-weight: 800;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 770px) {
  .section {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section {
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .section {
    height: 100vh;
  }
}
.section--name--order {
  background: url(../img/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section--name--order .section__title {
  color: white;
}
@media screen and (max-width: 480px) {
  .section--name--order .section__title {
    font-size: 2.3333333333rem;
  }
}
@media screen and (max-width: 425px) {
  .section--name--order .section__title {
    font-size: 1.8888888889rem;
  }
}
.section--name--product {
  background: #F8FAF9;
}
.section__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
  color: rgb(41, 41, 41);
  text-align: center;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.3333333333rem;
  }
}
@media screen and (max-width: 425px) {
  .section__title {
    font-size: 1.8888888889rem;
  }
}
.section--name--contacts {
  background: url("../img/map.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}
.headline__subtitle {
  margin-top: 0.9444444444rem;
  padding: 0 23%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 1%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url("../../img/circles.svg");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1111111111rem;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}
.benefit__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1.1111111111rem;
}
.benefit__bg {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: rgb(242, 245, 244);
  border-radius: 50%;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__bg {
    margin-bottom: 0;
  }
}
.benefit__image-el {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .benefit__text {
    margin-left: 0.6666666667rem;
  }
}
.benefit__desc {
  font-weight: 300;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  min-height: 18.8888888889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.1111111111rem 2.3333333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__display-item {
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__photo {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__photo {
    width: 7.3333333333rem;
    height: 7.3333333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__photo-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__title {
  margin-top: 1.3888888889rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7777777778rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 1.7777777778rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__text {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.8333333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.reviews__author {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
}
.reviews__switcher {
  margin-top: 0.8333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.5555555556rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
}
.interactive-avatar:hover {
  border-color: #FEDB3F;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
  width: 4.1111111111rem;
  height: 4.1111111111rem;
}
.interactive-avatar__link {
  display: block;
}
.interactive-avatar__photo {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.intercative-avatar__photo {
  border-radius: 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.3333333333rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8888888889rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form__row:last-child {
    margin-bottom: 0.8888888889rem;
  }
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__title {
  color: white;
}
.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  border-radius: 0.2222222222rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.form__input:focus {
  border: 0.1666666667rem solid #FEDB3F;
  outline: none;
}
.form__input--textarea {
  min-height: 6.1111111111rem;
  resize: none;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls--down {
  margin-top: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__controls--down {
    margin-top: 0.8888888889rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.6666666667rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.7777777778rem;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  content: "";
  background: url("../../icons/checkmark.svg");
  background-repeat: no-repeat;
  margin-top: 0.1111111111rem;
  margin-left: 0.1111111111rem;
}
.radio__el {
  display: none;
}
.radio__el:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  margin-right: 0.5555555556rem;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: white;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: rgb(254, 219, 63);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__title {
  margin-right: 0.6666666667rem;
  color: white;
  margin-top: 0.1666666667rem;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  height: 0.3333333333rem;
  width: 0.3333333333rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.hamburger__plank {
  display: block;
  background: white;
  height: 4px;
  border-radius: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1111111111rem 4.4444444444rem;
  font-size: 1.1666666667rem;
  color: black;
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contacts.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.3333333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .contacts.footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.6666666667rem;
    margin-bottom: 1.0555555556rem;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.socials__item {
  margin-left: 14px;
}
.socials__item:first-child {
  margin-left: 0;
}

.socials__icon-el {
  width: 20px;
  height: 20px;
  display: block;
  fill: #B3B3B3;
}
.socials__icon-el:hover {
  fill: black;
}

.products__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products__arrow-icon {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .products__arrow-icon {
    display: none;
  }
}
.products__arrow-icon-resp {
  display: none;
}
@media screen and (max-width: 768px) {
  .products__arrow-icon-resp {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.products__visual {
  width: 100%;
  max-width: 23.3333333333rem;
  margin-left: 3.5555555556rem;
}
@media screen and (max-width: 768px) {
  .products__visual {
    max-width: 17.6666666667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3rem;
    margin-right: 2.6666666667rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .products__visual {
    max-width: 14rem;
  }
}
.products__info {
  max-width: 20.7777777778rem;
  margin-left: 3.1111111111rem;
  margin-right: 1.4444444444rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .products__info {
    max-width: 29.3333333333rem;
    margin-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .products__info {
    max-width: 21.1111111111rem;
    margin-left: 0;
  }
}
.products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 1.3333333333rem;
  margin-top: 2.8888888889rem;
}
.products__desc {
  margin-bottom: 1.3333333333rem;
}
.products__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .products__properties {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.products__size {
  margin-bottom: 1.3333333333rem;
}
.products__size:last-child {
  margin-left: 1.3333333333rem;
}
.products__size-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.products__size-desc {
  color: black;
  font-weight: 700;
}
.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .products__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.products__price {
  font-weight: 300;
  font-size: 3rem;
  margin-right: 1.5555555556rem;
}
@media screen and (max-width: 985px) {
  .products__price {
    font-size: 2.2222222222rem;
    margin-right: 0.7777777778rem;
  }
}
@media screen and (max-width: 768px) {
  .products__price {
    font-size: 3.3333333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 860px) {
  .products__footer .btn {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 783px) {
  .products__footer .btn {
    padding: 1rem 1.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .products__footer .btn {
    padding: 1.1666666667rem 2.2777777778rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7.4444444444rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fullscreen-menu__close {
  position: absolute;
  top: 42px;
  right: 42px;
}
.fullscreen-menu.open {
  left: 0;
}

.close__el {
  width: 20px;
  height: 20px;
}

.parametres {
  position: relative;
  display: inline-block;
  max-height: 10rem;
}
@media screen and (max-width: 768px) {
  .parametres {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.parametres:hover .parametres__menu {
  left: 0;
  opacity: 1;
}
.parametres__multi-arrows {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
}
.parametres__title {
  color: white;
  text-transform: uppercase;
  font-size: 0.7777777778rem;
  margin-top: 0.4444444444rem;
}
.parametres__link {
  width: 90px;
  height: 90px;
  background: #3465A3;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parametres__link:hover {
  background: #457bc1;
}
.parametres__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5555555556rem 1.6666666667rem;
  width: 16.1111111111rem;
  left: -555.5rem;
  color: #1E1F20;
  font-size: 0.8888888889rem;
  font-weight: 500;
  opacity: 0.8;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  border-radius: 0.2222222222rem;
  margin-top: -5.1111111111rem;
  margin-left: 5rem;
}
.parametres__menu::before {
  content: "";
  display: block;
  height: 1.6666666667rem;
  right: 0;
  width: 100%;
  bottom: 100%;
  position: absolute;
}
.parametres__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4444444444rem;
}
.parametres__item:last-child {
  margin-bottom: 0;
}
.parametres__icon {
  width: 32px;
  height: 32px;
}
.parametres__desc {
  margin-left: 0.6666666667rem;
  color: black;
  font-size: 0.8888888889rem;
  font-weight: 700;
}
.parametres__data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.4444444444rem;
  text-align: end;
  color: black;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__item {
  margin-right: 1.1111111111rem;
}
.team__item:last-child {
  margin-right: 0;
}
.team__photo {
  width: 12.2222222222rem;
  height: 16.1111111111rem;
}
.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.4444444444rem;
  margin-top: 1.1111111111rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__name {
  color: black;
  font-weight: 700;
  margin-right: 0.2222222222rem;
}
.team__triangle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid black;
}
.team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 0;
  overflow: hidden;
}
.team__position {
  margin-bottom: 0.2222222222rem;
  color: black;
}

.active .team__info {
  min-height: 3.8888888889rem;
  overflow: none;
}

.active .team__triangle {
  display: none;
}

.active .team__triangle-up {
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid black;
}