.benefits {
    display: flex;
    @include phones {
        flex-direction: column;
    }
    &__item {
        flex: 1;
        padding: 0 3%;
        position: relative;
        &::before {
            content: url('../../img/circles.svg');
            position: absolute;
            top: rem(50px);
            right: 0;
            transform: translateX(50%);
            @include phones {
                display: none;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            &::before {
                display: none;
            }
        }
        @include phones {
            padding: 0;
            margin-bottom: rem(20px);
        }
    }
}