.benefit {
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: rem(27px);
        color: black;
        margin-bottom: rem(20px);
    }
    &__bg {
        display: inline-block;
        width: rem(126px);
        height: rem(126px);
        position: relative;
        background: rgba(242, 245, 244, 1);
        border-radius: 50%;
        margin-bottom: rem(20px);
        overflow: hidden;
    }
    &__image-el {
        width: rem(68px);
        height: rem(68px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__desc {
        font-weight: 300;
    }
}