.btn {
    padding: 21px 41px;
    background: #FEDB3F;
    border-radius: 100px;
    color: #000000;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    &:hover {
        background: #fdd526;
        transition: 0.5s;
    }
    &--theme--transparent {
        background: transparent;
        text-transform: none;
        font-size: 18px;
        color: white;
        font-weight: 400;
        &:hover {
            background: none;
            color: #FEDB3F;
            font-weight: 800;
        }
    }
}