.btn {
    padding: rem(21px) rem(41px);
    background: #FEDB3F;
    border-radius: rem(100px);
    color: #000000;
    font-weight: 800;
    font-size: rem(16px);
    text-transform: uppercase;
    &:hover {
        background: #fdd526;
        transition: 0.5s;
    }
    &--theme--transparent {
        background: transparent;
        text-transform: none;
        font-size: rem(18px);
        color: white;
        font-weight: 400;
        &:hover {
            background: none;
            color: #FEDB3F;
            font-weight: 800;
        }
    }
}