.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__icon {
        flex-shrink: 0;
    }
    &__icon-el {
        width: rem(16px);
        height: rem(16px);
        margin-right: rem(6px);
        fill: white;
        &--black {
            fill: black;
        }
    }
    &__number {
        font-size: rem(22px);
        color: white;
        font-weight: 700;
        white-space: nowrap;
        &--color--black {
            color: black;
            font-weight: 400;
        }
    }
}