.feature {
    display: flex;
    &__icon {
        width: rem(45px);
        height: rem(45px);
        margin-right: rem(11px);
    }
    &__desc {
        font-size: rem(16px);
        font-weight: 700;
    }
}