.hamburger {
    width: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    display: none;
    @include tablets {
        display: inline-flex;
    }
    &__plank {
        display: block;
        background: white;
        height: 4px;
        border-radius: 10px;
    }
}