.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @include tablets {
        background: rgba(25, 104, 177, 1);
        width: 100%;
        padding: rem(26px) rem(30px);
        align-items: center;
    }
}

.contacts.header__contacts {
    @include tablets {
        display: none;
    }
}