.hero {
    background-image: url("../img/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: rem(650px);
    color: white;
    @include tablets {
        background: url("../img/bg-tablets.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: rem(28px) 0 rem(61px);
        @include tablets {
            width: 100%;
            padding: 0;
        }
    }
    &__title-section {
        width: 46%;
        @include tablets {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 rem(52px);
            text-align: center;
        }
    }
    &__title {
        font-weight: 700;
        font-size: rem(48px);
        line-height: rem(58px);
        text-transform: uppercase;
        color: white;
    }
    &__desc {
        margin-top: rem(17px);
        margin-bottom: rem(39px);
        font-size: rem(21px);
    }
    &__icons-section {
        @include tablets {
            display: none;
        }
    }
}