.hero {
    background: url("../img/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
    color: white;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 28px 0 61px;
    }
    &__title-section {
        width: 46%;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: white;
    }
    &__desc {
        margin-top: 17px;
        margin-bottom: 39px;
        font-size: 21px;
    }
}