.menu {
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__item {
        margin-left: rem(22px);
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        color: white;
        font-weight: 700;
        white-space: nowrap;
    }
}