.parametres {
    position: relative;
    display: inline-block;
    max-height: rem(180px);
    @include tablets {
        display: none;
    }
    &:hover .parametres__menu {
        left: 0;
        opacity: 1;
    }
    &__multi-arrows {
        width: rem(38px);
        height: rem(38px);
    }
    &__title {
        color: white;
        text-transform: uppercase;
        font-size: rem(14px);
        margin-top: rem(8px);
    }
    &__link {
        width: 90px;
        height: 90px;
        background: #3465A3;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
            background: #457bc1;
        }
    }
    &__menu {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        padding: rem(28px) rem(30px);
        width: rem(290px);
        left: rem(-9999px);
        color: #1E1F20;
        font-size: rem(16px);
        font-weight: 500;
        opacity: 0.8;
        transition: opacity 1s;
        border-radius: rem(4px);
        margin-top: rem(-92px);
        margin-left: rem(90px);
        &::before {
            content: "";
            display: block;
            height: rem(30px);
            right: 0;
            width: 100%;
            bottom: 100%;
            position: absolute;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: rem(8px);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
    }
    &__desc {
        margin-left: rem(12px);
        color: black;
        font-size: rem(16px);
        font-weight: 700;
    }
    &__data {
        flex: 1;
        margin-left: rem(26px);
        text-align: end;
        color: black;
    }
}