.player-section {
    background: #F8FAF9;
  }
  
  .player-section__container {
    position: relative;
    margin: 0 auto; 
    max-width: rem(662px);
    height: rem(392px);
   
  
    @include tablets{
      width: rem(594px);
      height: rem(392px);
    }
  
    @include phones {
      width: rem(394px);
      height: rem(234px);
    }
  }
  
  .player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  
    .player.hidden {
      opacity: 0;
      transition: opacity .3s;
    }
  
  &__splash {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/Shortboards_big.png) center center/cover no-repeat;
    cursor: pointer;
  
    &:before {
      content: url(../img/play.png);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &__wrapper {
    display: contents;
  }
  
  &__wrapper.active .player__splash {
    display: none;
  }
  
  &__elem {
    width: 100%;
    height: 100%;
  }
  
  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(35px);
    background: #404040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
  }
  
  &__start {
    position: relative;
    width: 0;
    height: 0;
    border: rem(10px) solid transparent;
    border-left-color: #FFFFFF; 
    background: transparent;
    outline: none;
    padding: 0;
    border-right-width: 0;
  }
}
  
  .player.paused {
    .player__start {
      width: rem(12px);
      height: rem(19px);
      border: none;
  
      &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: rem(4px);
        background: #FFFFFF;
      }
  
      &:after {
        right: 0;
      }
  
      &:before {
        left: 0;
      }
    }
  
    .player__splash {
      visibility: hidden;
    }
  }
  
  .player__playback {
    height: rem(16px);
    position: relative;
    margin: 0 rem(30px) 0 rem(30px);
    flex: 1;
  
    &:before {
      content: "";
      height: rem(3px);
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: #FEDB3F;
      display: block;
      transform: translateY(-50%);
    }
  }
  
  .player__playback-button, .player__volume-button {
    background: #FEDB3F;
    border-radius: rem(44px);
    border: none;
    width: rem(10px);
    height: rem(10px);
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
  }
  
  
  .player__volume-icon {
    position: relative;
    fill: #FFFFFF;
    height: rem(14px);
    width: rem(16px);
    top: 50%;
    left: 0;
    right: 0;
    margin-right: rem(19px);
  }
  
  .player__volume-progress {
    height: rem(14px);
    position: relative;
    flex: 1;
    
    &:before {
      content: "";
      height: rem(3px);
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: #FEDB3F;
      display: block;
      transform: translateY(-50%);
    }
  }
  
  .player__volume {
    display: flex;
    align-items: center;
    width: rem(58px)
  }