.products {
  
    &__list {
        display: flex;
    }
    &__arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow-icon {
        @include tablets {
            display: none;
        }
        @include phones {
            display: none;
        }
    }
    &__arrow-icon-resp {
        display: none;
        @include tablets {
            display: block;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        @include tablets {
            flex-direction: column;
            text-align: center;
        }
    }
    &__visual {
        width: 100%;
        max-width: rem(420px);
        margin-left: rem(64px);
        @include tablets {
            max-width: rem(318px);
            display: flex;
            margin-left: rem(54px);
            margin-right: rem(48px);
        }
        @include phones {
            max-width: rem(252px);
        }
    }
    &__info {
        max-width: rem(374px);
        margin-left: rem(56px);
        margin-right: rem(26px);
        flex: 1;
        @include tablets {
            max-width: rem(528px);
            margin-left: 0;
        }
        @include phones {
            max-width: rem(380px);
            margin-left: 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: black;
        margin-bottom: rem(24px);
        margin-top: rem(52px);
    }
    &__desc {
        margin-bottom: rem(24px);
    }
    &__properties {
        display: flex;
        @include tablets {
            justify-content: center;
        }
    }
    &__size {
        margin-bottom: rem(24px);
        &:last-child {
            margin-left: rem(24px);
        }
    }
    &__size-item {
        display: flex;
        flex-direction: column;
    }
    &__size-desc {
        color: black;
        font-weight: 700;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        @include tablets {
            justify-content: center;
        }
    }
    &__price {
        font-weight: 300;
        font-size: rem(54px);
        margin-right: rem(28px);
        @media screen and (max-width: 985px) {
            font-size: rem(40px);
            margin-right: rem(14px);
        }
        @include tablets {
            font-size: rem(60px);
        }
    }
}

.products__footer .btn {
    @media screen and (max-width: 860px) {
        padding: rem(18px) rem(36px);
    }
    @media screen and (max-width: 783px) {
        padding: rem(18px) rem(28px);
    }
    @include tablets {
        padding: rem(21px) rem(41px);
    }
}