.section {
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 770px) {
        height: 100%;
    }
    @include tablets {
        height: 100%;
    }
    @include phones {
        height: 100%;
    }
    &--name--order {
        background: url(../img/bg-form.png);
        background-repeat: no-repeat;
        background-size: cover;
        @include tablets {
            height: 100%;
        }
        @include phones {
            height: 100%;
        }
        .section__title {
            color: white;
            @include phones {
                font-size: rem(42px);
            }
            @media screen and (max-width: 425px) {
                font-size: rem(34px);
            }
        }
    }
    &--name--product {
        background: #F8FAF9;
    }
    &__title {
        font-weight: 700;
        font-size: rem(48px);
        line-height: rem(58px);
        text-transform: uppercase;
        color: rgba(41, 41, 41, 1);
        text-align: center;
        margin-bottom: rem(15px);
        @include phones {
            font-size: rem(42px);
        }
        @media screen and (max-width: 425px) {
            font-size: rem(34px);
        }
    }
    &--name--contacts {
        background: url("../img/map.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}