    .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: rgba(41, 41, 41, 1);
        &--color--white {
            color: white;
        }
    }